body {
  background-color: lightpink;
}

.center {
  padding: 70px 0;
  padding-bottom: 0px;
  text-align: center;
  padding-top: 15px;
}

.textbox {
  padding: 5px;
  padding-left: 0px;
  padding-top:70px;
  width:33%;
  
  
  
}

.snow-wrap {
	align: center;
	position:relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.snow, .snow:after, .snow:before {
	content: "";
	position: absolute;
	top: -650px;
	left: 0;
	right: 0;
	bottom: 0;
	background-image:
	radial-gradient(8px 8px at 100px 50px, #fff, transparent),
	radial-gradient(10px 10px at 200px 150px, #fff, transparent),
	radial-gradient(7px 7px at 300px 250px, #fff, transparent),
	radial-gradient(8px 8px at 400px 350px, #fff, transparent),
	radial-gradient(10px 10px at 500px 100px, #fff, transparent),
	radial-gradient(7px 7px at 50px 200px, #fff, transparent),
	radial-gradient(8px 8px at 150px 300px, #fff, transparent),
	radial-gradient(10px 10px at 250px 400px, #fff, transparent),
	radial-gradient(7px 7px at 350px 500px, #fff, transparent);
	background-size: 650px 650px;
	
	animation: snowAnim 3s linear;
	animation-iteration-count: infinite;
}

.snow:after{
	margin-left: -250px;
	opacity: 0.5;
	filter: blur(2px);
}

.snow:before{
	margin-left: -250px;
	opacity: 0.7;
	filter: blur(1px);
}


@keyframes snowAnim
{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(650px);
	}
}

#melo1{
	width: 50%;
	height: 50%;
}
#melo3{
	width: 50%;
	height: 50%;
}

#inlineC {
	display: inline-flex;
}

#inlineB {
	display: inline-block;
}

#bodyContent {
	padding-bottom: 50px;
	font-family: Garamond;
	font-size: 70px;
	font-weight: bold;
	color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	
}

#EyyContent {
	padding-bottom: 50px;
	font-family: Garamond;
	font-size: 100px;
	font-weight: bold;
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#titleContent {
  font-family: cursive;
  font-size: 40px;
  font-weight: bold;
}
